<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Booklist</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
</head>
<body>
	<p>List of all books:</p>
	<p><a href="/">Back to home page</a></p>
	
	
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>ISBN</th>
			<th>Year</th>
			<th>Price</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.title}">Title</td>
			<td th:text="${book.author}">Author</td>
			<td th:text="${book.isbn}">ISBN</td>
			<td th:text="${book.year}">Year</td>
			<td th:text="${book.price}">Price</td>
			<td><a th:href="@{/deletebook/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
			<td><a th:href="@{/editbook/{id}(id=${book.id})}" class="btn btn-success">Edit</a></td>
		</tr>
	</table>
	
	<a href="/addbook" class="btn btn-success">Add a new book</a>
</body>
</html>